@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
}

.body-style {
  position: fixed;
  overflow-y: hidden;
}

.bg-color {
  background: #0b1920;
}

.stickyHeader {
  height: 70px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom Swiper Buttons */
.swiper-button-prev, .swiper-button-next {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.swiper-button-disabled {
  display: none;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

/* Custom Swiper Pagination */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  opacity: initial;
  border-radius: 10px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -2px;
}

.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 1);
}

.apartments-page, .body-background, .amenities {
  background: linear-gradient(180deg, #141b1f 25.39%, #000000 35.77%);
}

.preview {
  border-radius: 6px 9px 9px 6px;
  background: #F5F5F5;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10) inset, 1px -1px 2px 0px rgba(0, 0, 0, 0.10) inset, 2px -2px 3px 0px rgba(0, 0, 0, 0.09) inset, 5px -5px 4px 0px rgba(0, 0, 0, 0.05) inset, 8px -8px 5px 0px rgba(0, 0, 0, 0.01) inset, 13px -13px 5px 0px rgba(0, 0, 0, 0.00) inset;
}

/* ViewApartmentDetail page */
.sticky-form {
  margin: 24px auto;
  height: fit-content;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid rgb(221, 221, 221, 0.2);
  box-shadow: rgba(255, 255, 255, 0.12) 0px 6px 16px;
}

.react-datepicker__input-container > input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.react-datepicker__input-container > input:focus {
  border: none;
  --tw-ring-color: none;
}

.react-datepicker__input-container > input[type='text'] {
  font-size: 14px;
  padding: 0 0.75rem 0 0.75rem;
}

@media screen and (min-width: 768px) {
  html, body {
    overflow-x: initial;
  }
}

@media screen and (min-width: 1280px) {
  html, body {
    font-size: 22px;
  }
}
